<% content_for :head do %>
  <%= requirejs_include_tag "item_search" %>
<% end -%>

<div class="container item-search">
  <%= form_tag({ :controller => "item_search", :action => "search" }, { :id => "search_form" }) do %>
    <%= text_field_tag :query, '',{ :class => 'input-medium search-query', :placeholder => 'キーワードを入力して検索！' } %>
    <%= submit_tag "検索", { :id => 'search_btn', :class => "btn" } %>
  <% end %>
</div>

<div class="container" id="products_area">
</div>
