#query {
  width: 300px;
}

.item_search_form_area {
  width: 80%;
  margin: 0 auto;

  form {
    margin-left: 100px;
  }
}

.product {
  padding: 5px 0px;
  &:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  .icons {
    padding-top: 90px;
  }
}

#add-item-dialog {
  display: none;
}
